body{
	display: flex;
	background-color: beige;
	justify-content: center;
	align-items: center;
}

.complimenti{
	font-size: 30px;
	border: 5px solid black;	
}

a{
	text-decoration: none;
	color: black;
}