<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Catering</title>
	<link href="/css/piattoForm.css" rel="stylesheet" type="text/css">
  	<style>@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Smooch&family=Varela+Round&display=swap');</style>
</head>
<body>
    <h2>Inserisci i dati di un piatto</h2>
      <div id = "checkBox">
    	<form th:action= "@{/admin/piatto}" method="POST" th:object="${piatto}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div id = "box">
			<div class = "boxNome">
				<span>Nome:</span> <span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			<div class = "boxDesc">
				<span>Descrizione:</span> <span><input type="text" th:field="*{descrizione}" /></span>
				<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
			</div>
			<div id = "bottone">
				<span><button type="submit">Conferma</button></span>
			</div>
 		</div>
		</form>
	</div>
	<div id="footer_bar">
         	<a th:href="@{/admin/tornaHome}">Torna alla home</a>
    </div>
</body>
</html>