<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name = "viewport" content = "widht=device-widht, initial-scale=1">
    <link href="css/RegistrazioneEffettuata.css" rel="stylesheet" type="text/css">
    <title>Registrazione effettuata</title>
    <style></style>
    <script></script>
  </head>
  <body>
  	<p class = complimenti>
  		Complimenti <br> Hai effettuato la registrazione con successo<br>
  		<a th:href="@{/index}"> Accedi al sito </a>
  	</p>
  </body>
</html>